@model InvoiceApp.Identity.ViewModels.UserViewModel;
@using InvoiceApp.Identity.Constants

@{
	var roleSelectList = new SelectList(UserRoles.GetAll());
	var date = Model.DateOfBirth.ToString("yyyy-MM-dd");
	var returnUrl = (string?)ViewData["returnUrl"];
}

<form 
	asp-controller="@ViewData["Controller"]"
	asp-action="@ViewData["Action"]" method="post"
	class="container d-grid gap-3 p-2 card"
>
	<input asp-for="@Model.Id" type="hidden" value="@Model.Id" />

	<div class="row form-group gy-1">
		<div class="col-2">
			<label asp-for="@Model.Name">Name: </label>
		</div>
		<div class="col-10">
			<input asp-for="@Model.Name" type="text" value="@Model.Name" class="form-control" />
			<span asp-validation-for="@Model.Name" class="text-danger"></span>
		</div>
	</div>

	<div class="row form-group gy-1">
		<div class="col-2">
			<label asp-for="@Model.Surname">Surname: </label>
		</div>
		<div class="col-10">
			<input asp-for="@Model.Surname" type="text" value="@Model.Surname" class="form-control" />
			<span asp-validation-for="@Model.Surname" class="text-danger"></span>
		</div>
	</div>

	<div class="row form-group gy-1">
		<div class="col-2">
			<label asp-for="@Model.DateOfBirth">Date of birth: </label>
		</div>
		<div class="col-10">
			<input asp-for="@Model.DateOfBirth" type="date" value="@date" class="form-control" />
			<span asp-validation-for="@Model.DateOfBirth" class="text-danger"></span>
		</div>
	</div>

	<div class="row form-group gy-1">
		<div class="col-2">
			<label asp-for="@Model.Email">Email: </label>
		</div>
		<div class="col-10">
			<input asp-for="@Model.Email" type="email" value="@Model.Email" class="form-control" />
			<span asp-validation-for="@Model.Email" class="text-danger"></span>
		</div>
	</div>

	<div class="row form-group gy-1">
		<div class="col-2">
			<label asp-for="@Model.Password">Password: </label>
		</div>
		<div class="col-10">
			<input asp-for="@Model.Password" type="password" value="@Model.Password" class="form-control" />
			<span asp-validation-for="@Model.Password" class="text-danger"></span>
		</div>
	</div>

	<div class="row form-group gy-1">
		<div class="col-2">
			<label asp-for="@Model.PasswordRepeat">Repeat password: </label>
		</div>
		<div class="col-10">
			<input asp-for="@Model.PasswordRepeat" type="password" value="@Model.PasswordRepeat" class="form-control" />
			<span asp-validation-for="@Model.PasswordRepeat" class="text-danger"></span>
		</div>
	</div>

	<div class="row form-group gy-1">
		<div class="col-2">
			<label asp-for="@Model.Role">Role: </label>
		</div>
		<div class="col-10">
			<select asp-for="@Model.Role" asp-items="@roleSelectList" value="@Model.Role" class="form-control"></select>
			<span class="text-danger"></span>
		</div>
	</div>

	<div class="row form-group gy-1">
		<div class="col-12 text-end">
			<input type="submit" value="@ViewData["ButtonName"]" class="btn btn-primary" />
		</div>
	</div>

	@if(!string.IsNullOrEmpty(returnUrl))
	{
		<input name="returnUrl" value="@returnUrl" type="hidden" />
	}
</form>


