@using InvoiceApp.Helpers;
@using InvoiceApp.ViewModels.User;
@using Microsoft.AspNetCore.Http.Extensions;

@model UserDetailsViewModel;

@{
	ViewData["Title"] = "User information";
	var (header, user, userVM, printText) = (Model.Header, Model.AppUser, Model.UserViewModel, Model.PrintText);
	var returnUrl = string.IsNullOrEmpty(Model.ReturnUrl)
		? Context.Request.Query.GetByKey("returnUrl", Url.Action("List", "User"))
		: Model.ReturnUrl;
	var invoicesHref = Url.Action("ListByUser", "Invoice", new 
	{ 
		userId = user.Id,
		returnUrl = Context.Request.GetDisplayUrl()
	});
}

<div class="no-print" class="m-0 p-0">
	<h2>@header</h2>
	<hr class="mb-3" />

	<div class="container">
		<div class="row">
			<div class="col-md-3 col-lg-2 col-12 fw-bold">Name</div>
			<div class="col-md-9 col-lg-10 col-12">@user.Name</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-lg-2 col-12 fw-bold">Surname</div>
			<div class="col-md-9 col-lg-10 col-12">@user.Surname</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-lg-2 col-12 fw-bold">Date of birth</div>
			<div class="col-md-9 col-lg-10 col-12">@user.DateOfBirth.ToDayMonthString()</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-lg-2 col-12 fw-bold">Role</div>
			<div class="col-md-9 col-lg-10 col-12">@user.RoleName</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-lg-2 col-12 fw-bold">Email</div>
			<div class="col-md-9 col-lg-10 col-12">@user.Email</div>
		</div>
		@if ((userVM is not null) && !string.IsNullOrEmpty(userVM.Password))
		{
			<div class="row">
				<div class="col-md-3 col-lg-2 col-12 fw-bold text-danger">Password</div>
				<div class="col-md-9 col-lg-10 col-12 text-danger">@userVM.Password</div>
			</div>
		}
		<div class="row">
			<div class="col-md-3 col-lg-2 col-12 fw-bold">Invoices</div>
			<div class="col-md-9 col-lg-10 col-12">
				<a href="@invoicesHref" class="link link-primary">View</a>
			</div>
		</div>

		@if (!string.IsNullOrEmpty(printText))
		{
			<div class="m-0 my-1">
				<button id="btn-print" class="btn btn-sm btn-primary">Print</button>
			</div>
		}
	</div>

	<div class="container my-3">
		<a asp-controller="User" asp-action="Edit" asp-route-id="@user.Id" asp-route-returnUrl="@returnUrl" class="link link-primary">Edit</a>
	</div>

	<div class="container">
		<a href="@returnUrl" class="link link-primary">Back</a>
	</div>
</div>

@if (!string.IsNullOrEmpty(printText))
{
	var passwordStr = ((userVM is not null) && !string.IsNullOrEmpty(userVM.Password))
			? userVM.Password
			: "Not changed!";

	<div class="print p-0 mx-0 my-5 px-3">
		<p>Dear @user.Name @user.Surname,</p>
		<p>@printText</p>
		<div class="d-flex justify-content-center my-3">
			<table class="table table-sm table-bordered">
				<tr>
					<td>Email</td>
					<td>@user.Email</td>
				</tr>
				<tr>
					<td>Password</td>
					<td>@passwordStr</td>
				</tr>
			</table>
		</div>
		<div class="d-flex justify-content-between">
			<p>@DateTime.Now.ToDayMonthString()</p>
			<p>Administration</p>
		</div>
	</div>
}

@section Scripts{
	<script>
		const $btnPrint = document.querySelector('#btn-print');

		$btnPrint.addEventListener('click', (e) => {
			e.preventDefault();

			const title = document.title;			

			window.print();
		})
	</script>
}
