@using InvoiceApp.Data.RequestParameters;
@using InvoiceApp.Helpers;
@using InvoiceApp.ViewModels.Company;
@using InvoiceApp.ViewModels.Statistics;
@using Microsoft.AspNetCore.Http.Extensions;
@using System.Web;
@model CompanyInfoViewModel

@{
	ViewData["Title"] = "Company details";
	var returnUrl = Context.Request.Query.GetByKey("returnUrl", Url.Action("Index", "Company"));
	var currentUrl = Context.Request.GetDisplayUrl();
	var invoicesHref = Url.Action("List", "Invoice", new InvoiceRequestParameters()
	{ 
		CompanyName = Model.Company.Name 
	});

	var statisticsHref = Url.Action("Index", "Statistics", new StatisticRequestViewModel()
	{
		Companies = new List<string>() { Model.Company.Name }
	}) + $"&returnUrl={HttpUtility.UrlPathEncode(returnUrl)}";
}

<h2>Company details</h2>
<hr class="mb-3" />

<div class="container d-grid gap-1 gap-md-0">
	<div class="row">
		<div class="col-md-2 col-12 m-0  fw-bold">Name</div>
		<div class="col-md-10 col-12 m-0 ">@Model.Company.Name</div>
	</div>
	<div class="row">
		<div class="col-md-2 col-12 m-0  fw-bold">Invoices</div>
		<div class="col-md-10 col-12 m-0 "><a href="@invoicesHref" class="link link-primary">View</a></div>
	</div>
	<div class="row">
		<div class="col-md-2 col-12 m-0  fw-bold">Statistics</div>
		<div class="col-md-10 col-12 m-0 "><a href="@statisticsHref" class="link link-primary">View</a></div>
	</div>
</div>

<div class="container my-3">
	<a asp-action="Edit" asp-controller="Company" asp-route-id="@Model.Company.Id" asp-route-returnUrl="@currentUrl" class="link link-primary">Edit</a>
</div>

<div class="container">
	<a href="@returnUrl" class="link link-primary">Back</a>
</div>