@using InvoiceApp.ViewModels.Company;
@using InvoiceApp.ViewModels.Components;
@using Microsoft.AspNetCore.Http.Extensions;

@model IndexViewModel; 

@{
    ViewData["Title"] = "Companies";
    var deletionModalId = "deletion-modal";
    var returnUrl = Context.Request.GetDisplayUrl();
}

<form asp-controller="Company"
      asp-action="Index"
      method="get"
      class="search-form container card py-2 px-3 d-grid gap-2"
>
    <div class="row p-0">
        <div class="col-md-2 col-12 p-0 ">
            <label class="form-label">Name:</label>
        </div>
        <div class="col-md-10 col-12 p-0">
            <input asp-for="@Model.Parameters.Name" type="text" value="@Model.Parameters.Name" class="form-control"/>
        </div>
    </div>

    <div class="row p-0">
        <div class="col p-0 d-flex justify-content-end align-items-center gap-2">
            <a asp-controller="Company" asp-action="Index" class="btn btn-warning m-0">Clear</a>
            <input value="Search" type="submit" class="btn btn-primary m-0" />
        </div>
    </div>
</form>

<div class="my-2">
    <a asp-controller="Company" asp-action="Create" asp-route-returnUrl="@returnUrl" class="btn btn-primary">Create</a>
</div>

<div class="table-wrapper mb-2">
    <table class="table fs-6">
        <thead>
            <tr>
                <th scope="col" style="width:10%">Id</th>
                <th scope="col" style="width:75%">Name</th>
                <th scope="col" style="width:15%"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Companies is not null)
            {
                foreach (var item in Model.Companies)
                {
                    var editHref = Url.Action("Edit", "Company", new
                    {
                        id = item.Id,
                        returnUrl = Url.Action("Details", "Company", new{id = item.Id, returnUrl = returnUrl})
                    });

                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>
                            <a asp-controller="Company" asp-action="Details" asp-route-id="@item.Id" asp-route-returnUrl="@returnUrl" class="btn btn-sm btn-info">Info</a>
                            <a href="@editHref" class="btn btn-sm btn-warning">Edit</a>
                            <button 
                                data-modal="@deletionModalId" data-id="@item.Id"
                                data-ondelete="this.closest('tr').remove()"
                                class ="btn btn-sm btn-danger"
                            >
                                Delete
                            </button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


@await Component.InvokeAsync("Pagination", new PaginationViewModel()
{
    ActionName = "Index",
    ControllerName = "Company",
    Data = Model.Companies,
    Parameters = Model.Parameters
})

<div class="container my-3 p-0">
	<a asp-controller="Invoice" asp-action="Index" class="link link-primary">Back</a>
</div>

@await Component.InvokeAsync("DeletionModal", new DeletionModalViewModel()
{
    ModalId = deletionModalId,
    Message = "Are you sure?",
    ActionUrl = Url.Action("Delete", "Company")
})
