@using InvoiceApp.ViewModels.Company;
@using InvoiceApp.ViewModels.Components;

@model IndexViewModel; 

@{
    ViewData["Title"] = "Companies";
}

<h2>Companies</h2>

<form asp-controller="Company"
      asp-action="Index"
      method="get"
      class="search-form container card py-2 px-3 d-grid gap-2"
>
    <div class="row p-0">
        <div class="col-2 p-0 ">
            <label class="form-label">Name:</label>
        </div>
        <div class="col-10 p-0">
            <input asp-for="@Model.Parameters.Name" type="text" value="@Model.Parameters.Name" class="form-control"/>
        </div>
    </div>

    <div class="row p-0">
        <div class="col p-0 d-flex justify-content-end align-items-center">
            <input value="Search" type="submit" class="btn btn-primary m-0" />
        </div>
    </div>
</form>

<div class="my-2">
	<a asp-controller="Company" asp-action="Create" class="btn btn-primary">Create</a>
</div>

<div class="table-wrapper mb-2">
    <table class="table fs-6">
        <thead>
            <tr>
                <th scope="col" style="width:10%">Id</th>
                <th scope="col" style="width:75%">Name</th>
                <th scope="col" style="width:15%"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Companies is not null)
            {
                foreach (var item in Model.Companies)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>
                            <a asp-controller="Company" asp-action="Info" asp-route-id="@item.Id" class="btn btn-sm btn-info">Info</a>
                            <a asp-controller="Company" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                            <a asp-controller="Company" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


@await Component.InvokeAsync("Pagination", new PaginationViewModel()
{
    ActionName = "Index",
    ControllerName = "Company",
    Data = Model.Companies,
    Parameters = Model.Parameters
})

