@using InvoiceApp.Services.Interfaces;
@using InvoiceApp.ViewModels.Invoice;

@inject ICompanyService _companyService;

@model InvoiceViewModel

@{
	var dateString = Model.Month.ToString("yyyy-MM");
	var companies = (await _companyService.GetAll()).Select(i => i.Name).ToArray();
	var returnUrl = (string?)ViewData["returnUrl"];
}

<form asp-controller="@ViewData["Controller"]"
	  asp-action="@ViewData["Action"]" method="post"
	  class="container d-grid gap-3 p-2 card">
	<input asp-for="@Model.Id" type="hidden" value="@Model.Id" />

	<div class="row form-group gy-1">
		<div class="col-md-2 col-12">
			<label>Owner: </label>
		</div>
		<div class="col-md-10 col-12">
			<input asp-for="@Model.Owner" type="text" value="@Model.Owner" id="company-input" class="form-control" />
			<span asp-validation-for="@Model.Owner" class="text-danger"></span>
		</div>
	</div>

	<div class="row form-group gy-1">
		<div class="col-md-2 col-12">
			<label>Amount: </label>
		</div>
		<div class="col-md-10 col-12">
			<input asp-for="@Model.Amount" value="@Model.Amount" type="number" step="0.01" min="1" class="form-control" />
			<span asp-validation-for="@Model.Amount" class="text-danger"></span>
		</div>
	</div>

	<div class="row form-group gy-1">
		<div class="col-md-2 col-12">
			<label>Month: </label>
		</div>
		<div class="col-md-10 col-12">
			<input asp-for="@Model.Month" type="month" value="@dateString" class="form-control" />
			<span asp-validation-for="@Model.Month" class="text-danger"></span>
		</div>
	</div>

	<div class="row form-group gy-1">
		<div class="col-12 text-md-end text-center">
			<input type="submit" value="@ViewData["ButtonName"]" class="btn btn-primary" />
		</div>
	</div>

	@if(!string.IsNullOrEmpty(returnUrl))
	{
		<input name="returnUrl" type="hidden" value="@returnUrl" />
	}
</form>


<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', () => {
		const companies = @Json.Serialize(companies);

		const companyInput = new autoComplete({
			selector: '#company-input',
			placeHolder: 'Company name...',
			data: {
				src: companies
			},
			resultItem: {
				highlight: true,
			},
			events: {
				input: {
					selection: (event) => {
						const selection = event.detail.selection.value;
						companyInput.input.value = selection;
					}
				}
			}
		});
	});
</script>
