@using InvoiceApp.Data.Models;
@using System.Text.Json;
@using InvoiceApp.Helpers;
@using InvoiceApp.Identity.Constants;
@using InvoiceApp.Identity.Helpers;
@using Microsoft.AspNetCore.Http.Extensions;
@using Microsoft.Extensions.Primitives;

@model Invoice

@{
	ViewData["Title"] = "Invoice details";
	var returnUrl = Context.Request.Query.GetByKey("returnUrl", Url.Action("List", "Invoice"));
	var currentUrl = Context.Request.GetDisplayUrl();
	var statusClass = Model.Status switch
	{
		InvoiceStatuses.Rejected => "text-danger",
		InvoiceStatuses.Approved => "text-success",
		InvoiceStatuses.Submitted => "text-primary",
		_ => ""
	};

	var isAccountant = User.GetRole() == UserRoles.Accountant;
}

<h2>Invoice details</h2>
<hr class="mb-3" />

<div class="container d-grid gap-md-0 gap-1">
	<div class="row">
		<div class="col-md-3  col-xl-2 col-12 fw-bold">Document Id</div>
		<div class="col-md-9  col-xl-10 col-12">@Model.Id</div>
	</div>
	<div class="row">
		<div class="col-md-3  col-xl-2 col-12 fw-bold">Owner</div>
		<div class="col-md-9  col-xl-10 col-12">@Model.Owner?.Name</div>
	</div>
	<div class="row">
		<div class="col-md-3  col-xl-2 col-12 fw-bold">Amount</div>
		<div class="col-md-9  col-xl-10 col-12">@Model.Amount.ToSeparationString()</div>
	</div>
	<div class="row">
		<div class="col-md-3  col-xl-2 col-12 fw-bold">Month</div>
		<div class="col-md-9  col-xl-10 col-12 ">@Model.Month.ToMonthString()</div>
	</div>
	<div class="row">
		<div class="col-md-3  col-xl-2 col-12 fw-bold">Status</div>
		<div class="col-md-9  col-xl-10 col-12 @statusClass">@Model.Status</div>
	</div>
	<div class="row">
		<div class="col-md-3  col-xl-2 col-12 fw-bold">Creation date</div>
		<div class="col-md-9  col-xl-10 col-12">@Model.CreationDate.ToDateWithTimeString()</div>
	</div>
	<div class="row">
		<div class="col-md-3  col-xl-2 col-12 fw-bold">Creator</div>
		<div class="col-md-9  col-xl-10 col-12">@Model.Creator?.Name @Model.Creator?.Surname</div>
	</div>
	<div class="row">
		<div class="col-md-3  col-xl-2 col-12 fw-bold">Last update action</div>
		<div class="col-md-9  col-xl-10 col-12">@Model.LastUpdateAction</div>
	</div>
	<div class="row">
		<div class="col-md-3  col-xl-2 col-12 fw-bold">Last update date</div>
		<div class="col-md-9  col-xl-10 col-12">@Model.LastUpdateDate.ToDateWithTimeString()</div>
	</div>
	<div class="row">
		<div class="col-md-3  col-xl-2 col-12 fw-bold">Lats update author</div>
		<div class="col-md-9  col-xl-10 col-12">@Model.LastUpdateAuthor?.Name @Model.LastUpdateAuthor?.Surname</div>
	</div>

	@if (!isAccountant)
	{
		<div class="d-flex justify-content-start gap-2 my-2">
			@if (Model.Status != InvoiceStatuses.Approved)
			{
				var href = Url.Action("ChangeStatus", "Invoice", new
				{
					id = Model.Id,
					status = InvoiceStatuses.Approved,
					returnUrl = returnUrl
				});
				<a href="@href"class="btn btn-success">Approve</a>
			}

			@if (Model.Status != InvoiceStatuses.Rejected)
			{
				var href = Url.Action("ChangeStatus", "Invoice", new
				{
					id = Model.Id,
					status = InvoiceStatuses.Rejected,
					returnUrl = returnUrl
				});
				<a href="@href" class="btn btn-danger">Reject</a>
			}
		</div>
	}
</div>

<div class="container my-3">
	<a asp-action="Edit" asp-controller="Invoice" asp-route-id="@Model.Id" asp-route-returnUrl="@currentUrl" class="link link-primary">Edit</a>
</div>

<div class="container">
	<a href="@returnUrl" class="link link-primary">Back</a>
</div>