@using InvoiceApp.Data.Models;
@using InvoiceApp.Helpers;
@using InvoiceApp.ViewModels.Components;
@using InvoiceApp.ViewModels.Invoice;
@using System.Globalization;
@model ListViewModel

@{
}

<div class="table-wrapper">
<table class="table fs-6">
    <thead>
        <tr>
            <th scope="col" style="width:10%">Id</th>
            <th scope="col" style="width:17%">Owner</th>
            <th scope="col" style="width:17%">Amount</th>
            <th scope="col" style="width:15%">Month</th>
            <th scope="col" style="width:10%">Status</th>
            <th scope="col" style="width:16%">Last Change</th>
            <th scope="col" style="width:15%"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Invoices)
        {
            var statusClass = item.Status switch
            {
                    InvoiceStatuses.Rejected => "text-danger",
                    InvoiceStatuses.Approved => "text-success",
                    InvoiceStatuses.Submitted => "text-primary",
                    _ => ""
            };

            <tr>
                <td>@item.Id</td>
                <td>@item.Owner?.Name</td>
                <td>@item.Amount.ToSeparationString()</td>
                <td>@item.Month.ToMonthString()</td>
                <td class="@statusClass">@item.Status</td>
                <td>@item.LastUpdateDate.ToDateWithTimeString()</td>
                <td>
                        <a asp-controller="Invoice" asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Detais</a>
                        <a asp-controller="Invoice" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                        <a asp-controller="Invoice" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>

@await Component.InvokeAsync("Pagination", new PaginationViewModel()
{
    ControllerName = "Invoice",
    ActionName = "List",
    Data = Model.Invoices
})